// Global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif';
}

// Body styles
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;

  // Code styles
  code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
  }

  // Table styles
  table {
      margin: 2rem auto;
      border-radius: 2rem;
      border: hidden #443c68;
      border-collapse: collapse;
      box-shadow: 0 0 0 1px #fff;
      overflow: hidden;
      max-width: 100%;

      // Table header styles
      thead {
          font-size: 1rem;
          background-color: #443c68;
          color: #fff;
      }

      // Table cell styles
      th, td {
          border: 1px solid #443c68;
          min-width: auto;
          padding: 0.5rem;
          font-size: 0.9rem;
          line-height: 1.7rem;

          // Specific cell styles
          td {
              color: #ffffff;
          }
      }
  }

  // Button styles
  Button {
      position: absolute;
      top: 0;
  }

  // Todos container styles
  .todos-container {
      margin-bottom: 1rem;
      max-width: 250px;

      // Todos input styles
      .todos-input {
          margin-right: 0.5rem;
      }

      // Todos button styles
      .todos-button {
          margin-right: 0.5rem;
      }
  }
}
